html {
    background-image: linear-gradient(to bottom right, #2d3e50, #e64c66, #1bbc9b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
    font-family: "Microsoft Sans Serif";
    margin: 0;
    padding: 0;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
}

.icon {
    filter: invert(100%);
    width: 50px;
    padding-bottom: 15px;
}

h1 {
    margin: 10px;
    font-size: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    display: flex;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 40px;
    background-color: #117a65;
}

ul li:hover {
    cursor: pointer;
    background-color: #2d3e50;
    transition: background-color 0.5s ease;
}

h2,
h3 {
    text-align: center;
}

/* Table */
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}

th {
    background-color: #212d3a;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
}

td {
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #117a65;
}


button {
    display: inline;
    background-color: #117a65;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    font-size: large;
    transition: background-color 0.3s ease-in-out;

}

.back {
    text-align: center;
}

button:hover {
    background-color: #2d3e50;
}

footer {
    margin-top: auto;
    padding-top: 20px;
    color: #ffffff;
    padding-bottom: 50px;
    text-align: center;
    align-self: flex-end;
    width: 100%;
    height: 1px;
    font-size: small;
}

@media screen and (max-width: 1000px) {

    .header-nav-container {
        margin: 10px;
    }

    h1 {
        font-size: 30px;
    }

    ul li {
        margin: 10px;
        padding: 10px;
        font-size: 16px;
    }

    p {
        font-size: large;
    }

    footer p {
        margin-top: 15px;
        font-size: small;
    }
}