{% extends 'base.html'%}
{% load static %}
{% block content %}


<div style="display: flex; justify-content: center;">
    <table class="std-table" style="margin-top: 90px;">
        <caption>Our Team Members<br></caption>
        <thead>
            <tr>
                <td><b>Name </td></b>
                <td><b>ID </td></b>
                <td><b>Section</td></b>

            </tr>
        </thead>
        <tbody>
            {% for i in members %}
            <tr>
                <td>
                    {{ i.name }}
                </td>
                <td>
                    {{ i.memid }}
                </td>
                <td>
                    {{ i.section }}
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>

<div style="display: flex; align-items: center; align-self: center;">
    <p style="font-size: larger;"><b>Supervised by:</b><br><br>
        <b>Dr. Neamat El-Tazi</b><br>
        <b>Dr. Laila Esheiba</b><br>
        <b>Eng. Ahmed AbdelAziz</b>
    </p><br>
</div>




<script src="{% static 'RistrictedPages.js' %}"></script>
{% endblock content %}