{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to FCAI-CU students affairs website...">
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Students Affairs</title>
</head>

<body>

    {% include 'nav.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}


    <script src="{% static 'RistrictedPages.js' %}"></script>
</body>

</html>