{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Technology Projects</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body class="index">
    <!-- <img src="{% static '/imgs/1.svg' %}" alt="" style="display: inline;"> -->
    <h1 class="web-projects-heading">Web Technology Projects</h1>
    <div class="projects-buttons-container">
        <button disabled>Human Resources Website</button>
        <a class="home-link" href="/home"><button class="our-chosen-project">Student Affairs website</button></a>
        <button disabled>Higher studies website</button>
        <button disabled>tracking website</button>
    </div>
</body>

</html>