{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discreption" content="Welcome to FCAI-CU students affairs website..." />
    <title>Students Affairs</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .alert {
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 20px;
            background-color: white;
            font-size: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .alert.success {
            color: #3c763d;
        }

        .alert.error {
            color: #a94442;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var alerts = document.getElementsByClassName('alert');
            for (var i = 0; i < alerts.length; i++) {
                var alert = alerts[i];
                setTimeout(function () {
                    alert.style.display = 'none';
                },3000);
            }
        });
    </script>
</head>

<body>
    <div class="header-nav-container">
        <header>
            <img class="icon" src="{% static 'icon.png' %}" alt="Students affairs" width="100px">
            <h1 class="project-heading">Students Affairs</h1>
        </header>

        <nav>
            <ul id="nav">
            </ul>
        </nav>
    </div>

    <h2>Register New Admin</h2>
    <section>
        {% if messages %}
        {% for message in messages %}
        <div class="alert success">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% if error %}
        <div class="alert error">
            {{ error }}
        </div>
        {% endif %}
        <form class="register-form" method="post" action="{% url 'register_new_admin' %}">
            {% csrf_token %}
            <label for="firstname">First name</label>
            <input type="text" id="firstname" name="firstname" placeholder="First Name" required><br>

            <label for="lastname">Last name</label>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required><br>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Write a username without spaces" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="write a valid email" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Write a strong password" minlength="8"
                required><br>

            <label for="Conpassword">Confirm Password:</label>
            <input type="password" id="Conpassword" name="Conpassword" placeholder="Write the same password"
                minlength="8" required><br>

            <input type="reset" value="Reset">
            <input type="submit" value="Register"><br>
            <a href="/login">Already Have An Account</a>
        </form>
    </section>

    {% include 'footer.html' %}

    <script src={% static 'RistrictedPages.js' %}></script>
    <script src={% static 'RegisterNewAdmin.js' %}></script>
</body>